@use '../variables';

.button {
	border-radius: 90px;
	// height: 3.875rem;
	padding: 1rem 1.8rem;
	background-color: var(--accent);
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 1rem;
	font-weight: 600;
	box-shadow: variables.$shadow;
	cursor: pointer;
	transition: var(--d-m-2) var(--e-s);

	&:hover {
		background-color: var(--accent-hover);
	}
}

@media only screen and (max-width: 767px) {
	.button {
		font-size: 1rem;
		padding: 0 1rem;
		height: 3rem;
	}
}