@use '../variables';

@mixin transition {
	transition: var(--duration-moderate-01) var(--expressive-standard);
}

@mixin transition-slow {
	transition: var(--duration-slow-01) var(--expressive-standard);
}

nav {
	width: 100%;
	height: 4.75rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
	background-color: var(--ui-1);
	border-bottom: 1px solid var(--ui-1);
	z-index: 9;
	@include transition;

	@supports (backdrop-filter: saturate(180%) blur(20px)) {
		& {
			background-color: rgba(247, 243, 242, 0.8) !important;
			backdrop-filter: saturate(180%) blur(20px);

			html.dark & {
				background-color: rgba(23, 20, 20, 0.8) !important;
			}
		}
	}

	html.dark & {
		background-color: var(--ui);
		border-bottom-color: var(--ui);
	}

	& .j-dropdown-menu, & .menu-circle {
		box-shadow: variables.$shadow !important;
	}

	&.scrolled {
		border-bottom-color: var(--ui-2) !important;
	}

	html.dark & .j-dropdown-menu {
		background-color: var(--ui-1);

		& .j-dropdown-link:hover {
			background-color: var(--ui-2);
		}
	}
}

nav .menu-links {
	&:hover .menu-link {
		opacity: 0.5;
	}
}

nav .menu-link {
	height: 100%;
	color: var(--text-color);
	// font-size: 0.875rem;
	font-weight: 600;
	padding: 0 1.5rem;
	white-space: nowrap;
	display: flex;
	justify-content: center;
	align-items: center;
	@include transition;
	will-change: transform;

	&:hover {
		opacity: 1 !important;
	}

	& > span {
		position: relative;
		z-index: 2;
	}
}

nav .nav-action {
	height: 2.5rem;
	width: 2.5rem;
	border: 2px solid var(--ui-2);
	border-radius: 90px;
	background-color: transparent;
	cursor: pointer;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	& i {
		position: absolute;
		width: 1rem;
		width: 1rem;
	}
}

nav .nav-button {
	height: 2.5rem;
	padding: 0 1.5rem;
	border-radius: 90px;
	background-color: var(--accent);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.875rem;
	font-weight: 600;
	@include transition;

	&:hover {
		background-color: var(--accent-hover);
	}
}

.logo-container {
	@include transition;

	&:hover {
		& .logo {
			transform: rotate(180deg);
		}
	}
}

.logo {
	@include transition-slow;

	html.dark & {
		filter: invert(1);
	}
}

.menu-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	z-index: 999;
	width: 100%;
	height: 100%;
}
.menu-icon, .menu-icon > div {
	@include transition;
}
.menu-icon > div {
	background-color: var(--text-color);
	border-radius: 90px;
	width: 0.7rem;
	height: 2px;
}
.menu-icon > div:first-child {
	margin-bottom: 4px;
}
.menu-icon.active > div:first-child {
	transform: translateY(3px) rotate(-45deg);
}
.menu-icon.active > div:last-child {
	transform: translateY(-3px) rotate(45deg);
}