@use './variables';

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scrollbar-width: thin;
	scrollbar-color: var(--ui-4) transparent;
	background-color: var(--warm-gray-10) !important;
}

html.dark body {
	background-color: var(--warm-gray-100) !important;
}

@each $color in variables.$colors {
	body.#{$color} {
		--accent: var(--#{$color}-60);
		--accent-hover: var(--#{$color}-70);

		@for $i from 1 through 10 {
			$v: #{$color}-#{$i}0;

			--accent-#{$v}0: var(--#{$v});
		}
	}
}