@use './variables';

html.dark .j-card {
	background-color: var(--ui-1);
}

article,
code {
	tab-size: 4;
}

@mixin underline_button {
	user-select: auto !important;
	display: inline;
	position: relative;
	padding-bottom: 4px;
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 2px;
	transition: all var(--duration-slow-01) var(--expressive-standard);

	&:hover {
		opacity: 1 !important;
		background-size: 100% 2px;
	}
}

article {
	code {
		display: inline;
		padding: 0.1rem;
	}
	pre code {
		display: block !important;
		padding: 0.4rem !important;
		width: 100% !important;
		overflow-x: scroll;
	}

	ul li,
	ol li {
		line-height: 1.5;
	}

	@each $color in variables.$article-colors {
		&.#{$color} a {
			color: var(--#{$color});
		}
	}

	a {
		@include underline_button;
	}

	hr {
		margin: 4rem 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 3rem;
	}

	::-moz-selection {
		color: white;
	}

	::selection {
		color: white;
	}

	@each $color in variables.$article-colors {
		&.#{$color} {
			::-moz-selection {
				background-color: var(--#{$color}) !important;
			}
			::selection {
				background-color: var(--#{$color}) !important;
			}
		}
	}
}

.j-button {
	@each $color in variables.$article-colors {
		&.#{$color} {
			background-color: var(--#{$color});
		}
	}
}

.j-link {
	@include underline_button;

	@each $color in variables.$article-colors {
		&.#{$color} {
			color: var(--#{$color});
		}
	}
}
