@use './variables';

.title {
	font-size: 5rem;
    letter-spacing: -.046em;
    line-height: 1.2;
	font-weight: 600;

	@each $color in variables.$colors {
		&.#{$color}, & span.#{$color} {
			color: var(--#{$color}-60);
		}
	}

	&.hero {
		background: linear-gradient(to right, #4158D0 0%, #C850C0 50%, #FFCC70 100%);
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

@media only screen and (max-width: 991px) {
	.title {
		font-size: 4rem;
	}
}

@media only screen and (max-width: 767px) {
	.title {
		font-size: 3rem;
	}
}

@media only screen and (max-width: 472px) {
	.title {
		font-size: 2rem;
	}
}